<h1>Admin panel</h1>

<form action="/admin" method="POST">
	Login<br/>
	<input type="text" name="login"><br/>
	Passord<br/>
	<input type="password" name="password"><br/> 
	<div><br/>
	<button type="submit" class="btn btn-info" />OK</button></div>
</form>
<%=@report%>