<h1>Welcom to pizza</h1>
<button class="btn btn-primary" onclick="something()">Click me</button>
<h1>hello</h1>
<div class="row">
<% @products.each do |p| %>
  <div class="col-xs-6 col-md-4">
 	<div>
  	<img src="<%=p.path_to_image%>">
  	</div>
  	<div>
  	<%=p.title%>
  	<%=p.price%>
  </div>
  <button type="button" class="btn btn-success">Заказать</button>
  </div>
 <% end %>
 </div>

