<h1>Your in</h1>


<table class="table table-bordered border-primary">
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Order</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
	<% @orders.each do |o| %>
			<tr>
				<td><%= o['name'] %></td>
				<td><%= o['phone'] %></td>
				<td><%= o['order_input'] %></td>
				<td><%= o['address'] %></td>
			</tr>
    	<% end %>
	</tbody>
</table>


